{% extends "base.html" %}
{% block content %}

    <h1> {{ title }} </h1>
    <h3> {{ welcome }} </h3>

    {% if user_list|length == 0 %}
        <p> No Users? </p>
    {% else %}
    <table>
        <tr>
            <td> <b> User Id </b> </td>
            <td> <b> Username </b> </td>
        </tr>
        {% for user in user_list %}
            <tr>
                <td> {{ user.id }} </td>
                <td>
                    <form id= "individual_user" action= "/UserPage">
                        <input form= "individual_user" type= "submit" 
                            class= "link_button" name= "user_link" 
                            value= "{{ user.username }}"/>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>

    {% endif %}
{% endblock %}