{% extends "base.html" %}
{% block content %}

    <h1> {{ title }} </h1>
    <h3>{{ welcome }}</h3>

    {% if blogs|length == 0 %}
        <p> No blogs</p>
    {% else %}
        <table>
            <thead>
                <td> 
                    <p><b>Post Title</b></p>
                </td>
                <td>
                    <p><b>Author</b></p>
                </td>
                <td> 
                    <p><b>Post Body</b></p>
                </td>
            </thead>
        {% for blog in blogs %}
                <tr>
                    <td>
                        <form id= "individual_blog" action="/individual">
                            <input form= "individual_blog" type= "submit" 
                                class= "link_button" name= "blog_title" 
                                value= "{{ blog.title }}"/>
                        </form>
                    </td>
                    <td>
                        <form id= "individual_user" action= "/UserPage">
                            <input form= "individual_user" type= "submit" 
                                class= "link_button" name= "user_link" 
                                value= "{{ blog.owner }}"/>
                        </form>
                    </td>
                    
                    <td> 
                        {{ blog.body }}
                    </td>
                </tr>
        {% endfor %}

        </table>
    {% endif %}

{% endblock %}