{% extends "base.html" %}
{% block content %}

    <h1> {{ title }} </h1>
    <h3> {{ welcome }} </h3>
    
    <form method= 'POST'>
        <label> Title for your new blog:<br>
            <input type= "text" name= "title" value= "{{ add_title }}" />
        </label>
        <p class= "error"> {{ title_blank }} </p>
        <label> Your new blog:<br>
            <textarea name= "body">{{ add_body }}</textarea>
        </label>
        <p class= "error"> {{ body_blank }} </p>
        <input type= 'submit' value= "Add Entry" />
    </form>


{% endblock %}
